<div class="container">
    <div class="lang-nav admin-lang-nav text-center">
        <button ng-click="lang('et')">Et</button>
        <button ng-click="lang('en')">En</button>
        <button ng-click="lang('ru')">Ru</button>
    </div>
    <br>
    <div class="col-md-12" style="text-align:left; margin-left: -15px;">
        <div class="col-md-3 col-md-offset-2 bluebg text-center">
            <textarea ng-model="bannertext.bannerText1"></textarea>
            <textarea></textarea>
            <textarea></textarea>

        </div>
        <img class="skyscraperAdmin" src="img/skyscraper.png">
        <div class="col-md-5">
            <div class="yellowBarPlace"></div>
            <div class="blueBarPlace"></div>

        </div>
    </div>
    <div class="col-md-12" style="text-align:left; margin-left: -15px;">
        <div class="col-md-3 col-md-offset-2 greybg text-center">
            <div class="blackBarPlace text-center"></div>
            <textarea></textarea>

        </div>
        <div class="introAdmin text-center">
            <div class="col-md-6">
                <textarea></textarea>
                <textarea></textarea>
            </div>
            <div class="col-md-6">
                <textarea></textarea>
                <textarea></textarea>
            </div>
        </div>
        <div class="col-md-5 bulbsAdmin">
        </div>
    </div>
    <div class="col-md-12" style="text-align:left; margin-left: -15px;">
        <div class="col-md-2 adminPeople text-center">
            <div class="adminPerson">
                <input>
                <img class="adminDude" src="./../img/dude.png">
                <input>
                <input>
            </div>
            <div class="adminPerson">
                <input>
                <img class="adminDude" src="./../img/dude.png">
                <input>
                <input>
            </div>
            <div class="adminPerson">
                <input>
                <img class="adminDude" src="./../img/dude.png">
                <input>
                <input>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 fullbg text-center">

            <div class="blackBarPlace people-fix"></div>
            <textarea></textarea>

        </div>
    </div>
    <div class="col-md-12" style="text-align:left; margin-left: -15px;">
        <div class="col-md-8 col-md-offset-2 contactbg text-center">
            <div class="col-md-6 col-md-offset-1 admin-map">
            </div>
            <div class="admin-info">
                <h4>Telefon: <input class="admin-info-input" type="text" name="phone"></h4>
                <h4>Email: <input class="admin-info-input" type="text" name="mail"></h4>
                <h4>Aadress: <input class="admin-info-input" type="text" name="address"></h4>

            </div>
            <div class="col-md-5 admin-contact">
                <div class="col-md-12 smallblackbar"></div>
                <div class="col-md-12 largeblackbar"></div>
                <div class="col-md-12 contact-box"></div>
                <div class="col-md-12 contact-box"></div>
                <div class="col-md-12 contact-box"></div>
                <div class="col-md-12 yellowButton"></div>
            </div>
        </div>
    </div>


</div>