<div class="container">

    <div class="col-md-12" style="text-align:left; margin-left: -15px;">
        <div class="col-md-3 col-md-offset-2 bluebg text-center">
            <textarea></textarea>

        </div>
        <img class="skyscraperAdmin" src="img/skyscraper.png">
        <div class="col-md-5">
            <div class="yellowBarPlace"></div>
            <div class="blueBarPlace"></div>
            <div class="whiteBarPlace"></div>

        </div>
    </div>
    <div class="col-md-12" style="text-align:left; margin-left: -15px;">
        <div class="col-md-3 col-md-offset-2 greybg text-center">
            <div class="blackBarPlace text-center"></div>
            <textarea></textarea>

        </div>
        <div class="introAdmin"></div>
        <div class="col-md-5 bulbsAdmin">

        </div>
    </div>
</div>