<div class="landing-all">
    <div scroll-bookmark="home" class="landing">
        <div class="col-md-5 landing--banner" ng-controller="scrollController">
            <div class="hero-text">
                <h1>{{ 'LANDINGTITLE1' | translate }}</h1>
                <div class="yellow">
                    <p>{{ 'LANDINGMESSAGE' | translate }}</p>
                </div>
                <h1>{{ 'LANDINGTITLE2' | translate }}</h1>
            </div>
            <a scroll-to-bookmark="introduction" class="col-md-12">{{ 'LANDINGBUTTON2' | translate }} <i class="arrow right"></i></a>

            <a>
                <img class="mousescroll" src="img/mousescroll.png">
            </a>


        </div>
        <div class="col-md-7">
            <nav class="navbar" ng-controller="navBarCtrl">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" scroll-to-bookmark="home"><img id="logo" src="img/logo.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul ng-click="toggleSideMenu()" id="burger" class="nav navbar-nav navbar-right">
                        <div></div>
                        <div></div>
                        <div></div>
                    </ul>
                </div><!--/.nav-collapse -->

            </nav>
            <div ng-controller="scrollController">
                <button class="request" scroll-to-bookmark="contact">{{ 'LANDINGBUTTON1' | translate }} <i class="arrow right"></i></button>
            </div>
        </div>
        <img class="skyscraper" src="img/skyscraper.png">
    </div>
</div>
<div class="gradient--banner">
</div>
<div class="sideMenu" ng-controller="sideMenuCtrl" ng-show="sidemenu">
    <div class="col-md-12">
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

                <ul ng-controller="anchorCtrl" class="nav sidebar-nav">
                    <a class="close" ng-click="hide()">X</a>
                    <li>
                        <a scroll-to-bookmark="home">Home</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="introduction">Tutvustus</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="team">Meeskond</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="references">Referentsid</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="partners">Partnerid</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="contact">Kontaktid</a>
                    </li>
                    <div class="lang-nav" ng-controller="mingiAsiCtrl as ctrl">
                        <select ng-options="language | translate for language in ctrl.languages" ng-model="ctrl.language" ng-change="ctrl.updateLanguage()">
                        </select>
                    </div>
                </ul>
            </nav>
        </div>

    </div>
</div>
<div class="sideMenuOverlay" ng-show="sidemenuOverlay" ng-controller="sideMenuOverlayCtrl" ng-click="hideOverlay()">
</div>

<div scroll-bookmark="introduction" class="introduction">
    <div id="introduction" class="col-md-5">
        <div class="intro-text">
            <h1 class="col-md-12">Tutvustus</h1>
            <p class="col-md-12 intro-paragraph">Oleme tugev Eesti ettevõte, kes võtnud oma missiooniks lahendada kõik elektritöödega
                seotud
                ülesanded.
                Meie oskustepagas on
                aastatepikkuse kogemuse
                taustal arenenud ja
                peensusteni lihvitud.</p>
        </div>
    </div>

    <div class="col-md-7 bulbs">
    </div>
    <div class="col-md-6 col-md-offset-4 intro-back"  ng-controller="introSelect">
        <div>
            <div>
                <div class="row">
                    <div class="col-md-6 left-intro">
                        <input ng-show="introleft" ng-mouseover="introright = false" ng-mouseleave="introright = true" type="image" class="intro-pics pirn" src="img/Pirn.png"/>
                        <div class="col-md-8 col-md-offset-3 inspect-pirn">
                            <div class="col-md-12">
                                <h1>
                                    Elektritööd
                                </h1>
                            </div>
                            <div class="col-md-12 col-md-offset-2">
                                <p>Me teeme hästi elektritöid. Me teeme hästi elektritöid. Me teeme hästi elektritöid.
                                    Me teeme hästi elektritöid</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 right-intro">
                        <input ng-show="introright" ng-mouseover="introleft = false" ng-mouseleave="introleft = true" type="image" class="intro-pics kilp"
                               src="img/Kilp.png"/>
                        <div class="col-md-8 col-md-offset-3 inspect-kilp">
                            <div class="col-md-12">
                                <h1>
                                    Elektrikipide ehitus
                                </h1>
                            </div>
                            <div class="col-md-12 col-md-offset-2">
                                <p>Me teeme hästi elektritöid. Me teeme hästi elektritöid. Me teeme hästi elektritöid.
                                    Me teeme hästi elektritöid</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-6 left-intro">
                        <input ng-show="introleft" ng-mouseover="introright = false" ng-mouseleave="introright = true" type="image" class="intro-pics moodik"
                               src="img/Moodik.png"/>
                        <div class="col-md-8 col-md-offset-3 inspect-moodik">
                            <div class="col-md-12">
                                <h1>
                                    Seadmete paigaldus
                                </h1>
                            </div>
                            <div class="col-md-12 col-md-offset-2">
                                <p>Me teeme hästi elektritöid. Me teeme hästi elektritöid. Me teeme hästi elektritöid.
                                    Me teeme hästi elektritöid</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 right-intro">
                        <input ng-show="introright" ng-mouseover="introleft = false" ng-mouseleave="introleft = true" type="image" class="intro-pics planeerija"
                               src="img/Planeerija.png"/>
                        <div class="col-md-8 col-md-offset-3 inspect-planeerija">
                            <div class="col-md-12">
                                <h1>
                                    Elektrisüsteemide projekteerimine
                                </h1>
                            </div>
                            <div class="col-md-12 col-md-offset-2">
                                <p>Me teeme hästi elektritöid. Me teeme hästi elektritöid. Me teeme hästi elektritöid.
                                    Me teeme hästi elektritöid</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div scroll-bookmark="team" class="team">
    <div class="col-md-12">
        <div class="team-info col-md-8">
            <h1 class="col-md-12">Meeskond</h1>
            <p class="col-md-12">Ettevõtte võtmetegijad annavad asjalikku ja profesionaalset nõu ning meie tehtud tööd
                räägivad enda eest. </p>
        </div>
        <div class="people col-md-4">
            <div class="col-md-12 person">
                <h3 class="col-md-12">Priit Laur</h3>
                <img class="name-pics" src="img/Planeerija.png">
                <p class="col-md-12">Juhataja</p>
                <p class="col-md-12">email@elektrosystem.ee</p>
            </div>
            <div class="col-md-12 person">
                <h3 class="col-md-12">Priit Laur</h3>
                <img class="name-pics" src="img/Planeerija.png">
                <p class="col-md-12">Projektijuhataja</p>
                <p class="col-md-12">email@elektrosystem.ee</p>
            </div>
            <div class="col-md-12 person">
                <h3 class="col-md-12">Priit Laur</h3>
                <img class="name-pics" src="img/Planeerija.png">
                <p class="col-md-12">Projektijuhataja</p>
                <p class="col-md-12">email@elektrosystem.ee</p>
            </div>
        </div>
    </div>
</div>
<div scroll-bookmark="references" class="references">
    <div ng-controller="projectController">
        <div class="col-md-3 project-item" ng-repeat="project in projects">
            <img src="{{project.image}}" class="project-image">
            <h1 class="project-heading col-md-8 col-md-offset-2">{{project.name}}</h1>
            <button class="project-info col-md-6 col-md-offset-3" ng-click="toggleProjectView($index)">Vaata lähemalt
            </button>
        </div>

        <div ng-repeat="project in projects" class="projectView {{project.name}}"
             ng-show="projectview">
            <a class="closeProject" ng-click="hideProject()">X</a>

            <div class="accordion">
                <ul>
                    <li ng-repeat="item in globalPictures track by $index">
                        <img src="{{item}}"/>
                    </li>
                </ul>
            </div>


            <div class="col-md-4 project-pictures">
                <button ng-click="menuUp()" type="button" class="col-md-12" aria-label="Left Align">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </button>
                <button ng-click="menuDown()" type="button" class="col-md-12" aria-label="Left Align">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </button>
            </div>

            <!---->

            <div class="col-md-8 project-information">
                <h1 class="col-md-6 col-md-offset-4">{{globalName}}</h1>
                <h5 class="col-md-6 col-md-offset-4">{{globalAlapealkiri}}</h5>
                <h3 class="col-md-6 col-md-offset-4">{{globalAasta}}</h3>
                <p class="col-md-6 col-md-offset-4">{{globalTekst}} </p>
                <hr class="col-md-6 col-md-offset-4">
                <button class="col-md-6 col-md-offset-5 request project-request">Saada päring <i
                        class="arrow right"></i></button>
            </div>


        </div>

        <div class="projectOverlay" ng-show="projectViewOverlay">
        </div>
    </div>

</div>
<div scroll-bookmark="partners" class="partners">
    <h1 class="col-md-2 col-md-offset-5 center">Partnerid</h1>
    <div class="slickClass" ng-controller="CarouselDemoCtrl">
        <slick
                infinite="false"
                slides-to-show="3"
                slides-to-scroll="3"
        >
            <div class="slick-item slick-overlay" ng-repeat="slide in slides">
                <a href="{{slide.link}}"><img src="{{slide.image}}"/></a>
            </div>
        </slick>
    </div>
</div>
<div scroll-bookmark="contact" class="contact">
    <div id="contact" class="col-md-6 map">
        <div class="col-md-6 col-md-offset-2 gMap">
            <div ng-controller="mapCtrl" ng-init="initMap()">
                <div id="map">
                </div>
                <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
        </div>
        <div class="info-box">
            <h4>Telefon: +372 7366019</h4>
            <h4>Email: info@elektrosystem.ee</h4>
            <h4>Aadress: Tähe 127c, Tartu</h4>

        </div>
        <div class="contact-information">
        </div>
    </div>
    <div class="col-md-6 stuff">
        <div class="contact">
            <div class="col-xs-12 col-md-8 col-md-offset-1 small-heading">
                <h4>Soovite infot?</h4>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <h2>Võtke meiega ühendust</h2>
            </div>

            <div class="col-xs- 12 col-md-4 contact-form">
                <form>
                    <input type="text" name="name" placeholder="Nimi"/>
                    <input type="email" name="e-mail" placeholder="E-Maili aadress"/>
                    <textarea name="text" id="" rows="3" placeholder="Sõnum"></textarea>
                    <button class="btn-send">Saada päring</button>
                </form>
            </div>
        </div>
    </div>
    <!--<img class="dude" src="img/dude1.png">-->
    <!--<h3 class="dude-text first">Külastage meid Tartus, Tähe 127c!</h3>
    <h3 class="dude-text second">Või võtke meiega ühendust</h3>
-->
</div>
