<div class="landing-all">
    <div scroll-bookmark="home" class="landing">
        <div class="col-md-8  landing--banner" ng-controller="scrollController">
            <div class="hero-text">
                <h1>Meie tehtud</h1>
                <div class="yellow">
                    <p>elektrilahendused</p>
                </div>
                <h1> on kõrgusi ületavad</h1>
            </div>
            <a scroll-to-bookmark="introduction" class="col-md-12">Ettevõttest <i class="arrow right"></i></a>

            <a>
                <img class="mousescroll" src="img/mousescroll.png">
            </a>


        </div>
        <div class="col-md-4">
            <nav class="navbar" ng-controller="navBarCtrl">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" scroll-to-bookmark="home"><img id="logo" src="img/logo.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul ng-click="toggleSideMenu()" id="burger" class="nav navbar-nav navbar-right">
                        <div></div>
                        <div></div>
                        <div></div>
                    </ul>
                </div><!--/.nav-collapse -->

            </nav>
            <div ng-controller="scrollController">
                <button class="request" scroll-to-bookmark="contact">Saada päring <i class="arrow right"></i></button>
            </div>
        </div>
        <img class="skyscraper" src="img/skyscraper.png">
    </div>
    <!-- <div class="mingiAsi" ng-controller="mingiAsiCtrl" ng-show="mingiasi">

     </div>-->
</div>
<div class="gradient--banner">
</div>
<div class="sideMenu" ng-controller="sideMenuCtrl" ng-show="sidemenu">
    <div class="col-md-12">
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

                <ul ng-controller="anchorCtrl" class="nav sidebar-nav">
                    <a class="close" ng-click="hide()">X</a>
                    <li>
                        <a scroll-to-bookmark="home">Home</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="introduction">Tutvustus</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="team">Meeskond</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="references">Referentsid</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="partners">Partnerid</a>
                    </li>
                    <li>
                        <a scroll-to-bookmark="contact">Kontaktid</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<div class="sideMenuOverlay" ng-show="sidemenuOverlay" ng-controller="sideMenuOverlayCtrl" ng-click="hideOverlay()">
</div>

<div scroll-bookmark="introduction" class="introduction">
    <div id="introduction" class="col-md-5">
        <div class="intro-text">
            <h1 class="col-md-12">Tutvustus</h1>
            <p class="col-md-12">Oleme tugev Eesti ettevõte, kes võtnud oma missiooniks lahendada kõik elektritöödega
                seotud
                ülesanded.
                Meie oskustepagas on
                aastatepikkuse kogemuse
                taustal arenenud ja
                peensusteni lihvitud.</p>
        </div>
    </div>

    <div class="col-md-7 bulbs">
    </div>
    <div class="col-md-6 col-md-offset-4 intro-back" ng-controller="introSelect">
        <div ng-switch on="page">
            <div ng-hide="selection">
                <div class="row">
                    <div class="col-md-6">
                        <input type="image" ng-click="page='pirn'; toggle()" class="intro-pics" src="img/Pirn.png"/>
                    </div>
                    <div class="col-md-6">
                        <input type="image" ng-click="page='kilp'; toggle()" class="intro-pics kilp"
                               src="img/Kilp.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="image" ng-click="page='moodik'; toggle()" class="intro-pics moodik"
                               src="img/Moodik.png"/>
                    </div>
                    <div class="col-md-6">
                        <input type="image" ng-click="page='planeerija'; toggle()" class="intro-pics"
                               src="img/Planeerija.png"/>
                    </div>
                </div>
            </div>
            <div ng-switch-default>
            </div>
            <div class="col-md-12 inspect" ng-switch-when="pirn">
                <div class="inspect">
                    <div class="col-md-12">
                        <h1>
                            Elektritööd
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <p>Me teeme hästi elektritöid</p>
                    </div>
                    <div class="col-md-12">
                        <button ng-click="toggle()">Tagasi</button>
                    </div>
                </div>
            </div>
            <div ng-switch-when="kilp">
                <div class="inspect">
                    <div class="col-md-12">
                        <h1>
                            Kilpide valmistamine
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <p>Kõige paremad elektrikilbid</p>
                    </div>
                    <div class="col-md-12">
                        <button ng-click="toggle()">Tagasi</button>
                    </div>
                </div>
            </div>
            <div ng-switch-when="moodik">
                <div class="inspect">
                    <div class="col-md-12">
                        <h1>
                            Elektripaigaldiste käitlemine
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <p>Käitleme väga hästi</p>
                    </div>
                    <div class="col-md-12">
                        <button ng-click="toggle()">Tagasi</button>
                    </div>
                </div>
            </div>
            <div ng-switch-when="planeerija">
                <div class="inspect">
                    <div class="col-md-12">
                        <h1>
                            Elekriprojektide planeerimine
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <p>Planeerime alati kõige paremini</p>
                    </div>
                    <div class="col-md-12">
                        <button ng-click="toggle()">Tagasi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div scroll-bookmark="team" class="team">
    <div class="col-md-12">
        <div class="team-info col-md-8">
            <h1 class="col-md-12">Meeskond</h1>
            <p class="col-md-12">Ettevõtte võtmetegijad annavad asjalikku ja profesionaalset nõu ning meie tehtud tööd
                räägivad enda eest. </p>
        </div>
        <div class="people col-md-4">
            <div class="col-md-12 person">
                <h3 class="col-md-12">Priit Laur</h3>
                <img class="name-pics" src="img/Planeerija.png">
                <p class="col-md-12">Juhataja</p>
                <p class="col-md-12">email@elektrosystem.ee</p>
            </div>
            <div class="col-md-12 person">
                <h3 class="col-md-12">Priit Laur</h3>
                <img class="name-pics" src="img/Planeerija.png">
                <p class="col-md-12">Projektijuhataja</p>
                <p class="col-md-12">email@elektrosystem.ee</p>
            </div>
            <div class="col-md-12 person">
                <h3 class="col-md-12">Priit Laur</h3>
                <img class="name-pics" src="img/Planeerija.png">
                <p class="col-md-12">Projektijuhataja</p>
                <p class="col-md-12">email@elektrosystem.ee</p>
            </div>
        </div>
    </div>
</div>
<div scroll-bookmark="references" class="references">
    <div ng-controller="projectController"> <!--Sellest controllerist tuleb kogu data, ehk siis pilt ja nimi-->
        <div ng-controller="projectViewController" class="col-md-3 project-item" ng-repeat="project in projects">
            <img src="{{project.image}}" class="project-image">
            <h1 class="project-heading col-md-8 col-md-offset-2">{{project.name}}</h1>
            <button class="project-info col-md-6 col-md-offset-3" ng-click="toggleProjectView()">Vaata lähemalt</button>
            <!--Kuidas ma saaks selle toggleProjectView() nii tööle, et ta kuvaks õiget projekti informatsiooni-->
        </div>
        <div ng-repeat="project in projects" class="projectView {{project.name}}" ng-controller="projectViewController"
             ng-show="projectview">
            <a class="closeProject" ng-click="hideProject()">X</a>

            <div class="col-md-4 project-pictures">
            </div>
            <!--<div ng-controller="projectPicturesController" class="arab">
                <div ng-repeat="projectImage in projectImages" class="col-md-2">
                    <img src="{{projectImage.image}}" style="width:350%;">
                </div>
            </div>-->

            <div class="col-md-8 project-information">
                <h1 class="col-md-6 col-md-offset-4">Pealkiri</h1>
                <h5 class="col-md-6 col-md-offset-4">Alapealkiri</h5>
                <h3 class="col-md-6 col-md-offset-4">2017</h3>
                <p class="col-md-6 col-md-offset-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                    suscipit ac mauris et mattis. Duis
                    felis velit, commodo a orci ut, rhoncus accumsan odio. Integer congue nisi quis condimentum
                    molestie. Etiam at ornare ligula, sit amet ullamcorper nunc. </p>
                <hr class="col-md-6 col-md-offset-4">
                <button class="col-md-6 col-md-offset-5 request project-request">Saada päring <i
                        class="arrow right"></i></button>
            </div>


        </div>
        <div class="projectOverlay" ng-show="projectViewOverlay">
        </div>
    </div>

</div>
<div scroll-bookmark="partners" class="partners">
    <div class="slickClass" ng-controller="CarouselDemoCtrl">
        <slick
                infinite="false"
                slides-to-show="3"
                slides-to-scroll="3"
        >
            <div class="slick-item slick-overlay" ng-repeat="slide in slides">
                <a href="{{slide.link}}"><img src="{{slide.image}}"/></a>
            </div>
        </slick>
    </div>
</div>
<div scroll-bookmark="contact" class="contact">
    <div id="contact" class="col-md-8 map">
        <div class="col-md-8 col-md-offset-2">
            <div ng-controller="mapCtrl" ng-init="initMap()">
                <div class="map-name">
                    <h1>
                        Võtke meiega ühendust!
                    </h1>
                </div>
                <div id="map" style="height: 400px; width:450px;">
                </div>
                <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
        </div>
        <div class="contact-information">
        </div>
    </div>
    <div class="col-md-4 stuff">
        <div class="contact">
            <div class="col-md-5 col-md-offset-1">
                <h3>Telefon</h3>
                <p>+372543947</p>
            </div>
            <div class="col-md-6">
                <h3>Meiliaadress</h3>
                <p>email@elektrosystem.ee</p>
            </div>

            <div class="col-md-4 contact-form">
                <form>
                    <input type="text" name="name" placeholder="Nimi"/>
                    <input type="email" name="e-mail" placeholder="E-Maili aadress"/>
                    <textarea name="text" id="" rows="3" placeholder="Sõnum"></textarea>
                    <button class="btn-send">Saada päring</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
<div class="container" ng-controller="mapCtrl" ng-init="initMap()">
    <div class="map-name">
        <h3>
            CONTACTS BLA BLA
        </h3>
    </div>
    <div id="map" style="height: 400px;">
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>
<div class="container" ng-controller="landingContactCtrl" style="margin-top:50px;">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label class="add-product-label landing-margin">Name</label>
                <input type="text" class="form-control-add landing-margin" name="name" ng-model="sendEmailForm.name"/>
            </div>
            <div class="form-group">
                <label class="add-product-label landing-margin">E-mail</label>
                <textarea class="form-control-add landing-margin" name="information" ng-model="sendEmailForm.email"/>
            </div>
            <div class="form-group">
                <label class="add-product-label landing-margin">Subject</label>
                <textarea class="form-control-add landing-margin" name="information" ng-model="sendEmailForm.subject"/>
            </div>
            <div class="form-group">
                <label class="add-product-label landing-margin">Message</label>
                <textarea class="form-control-add-long-landing landing-margin" name="information"
                          ng-model="sendEmailForm.message"/>
            </div>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6" style="text-align: right;margin-left: -15px;">
                    <button class="send-button">SEND</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div ng-bind-html="info">

        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="col-md-6">
            <img id="logo-footer" src="img/logo.png"/>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <p class="footer-company">
                &#169; Elektronet OU 2016
            </p>
        </div>
    </div>
</footer>
-->
