@font-face {
    font-family: 'Akr-Regular';
    src: url('../fonts/Akrobat-Regular.otf');
}

@font-face {
    font-family: 'Akr-Bold';
    src: url('../fonts/Akrobat-Bold.otf');
}

body {
    font-family: Akr-Regular;
}

h3 {
    font-family: Akr-Bold;
}

.landing {
    overflow: hidden;
    height: 100vh;
}

.gradient--banner {
    width: 100%;
    height: 350px;
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.53) 50%, rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0.15) 86%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.53) 50%, rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0.15) 86%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.53) 50%, rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0.15) 86%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 1;
    margin-top: -350px;
}

.navbar {
    background: transparent;
}

.sidebar-nav {
    position: absolute;
    right: 0px;
    top: 20vh;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 15px;

}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    color: #ffffff;
    padding-top: 17px;
    text-transform: uppercase;

}

.sidebar-nav li a {
    color: #ffffff;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 0px;
    background-color: #ffffff;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:nth-child(1):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ffe400;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav > .sidebar-brand img {
    height: 32px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    box-shadow: none;
}

.sideMenu {
    position: fixed;
    height: 100vh;
    width: 16vw;
    background: #2d51ff;
    right: 0px;
    z-index: 9999;
    display: inline-block;
    top: 0;
}

.sideMenuOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(59, 59, 59, 0.45);
    right: 0px;
    z-index: 9998;
    display: inline-block;
    top: 0;
}

.mingiAsi {
    height: 100vh;
    width: 16vw;
}

.landing--banner {
    height: 100vh;
    width: 60vw;
    background-color: #2166af;
    background-size: cover;
    z-index: 0;
    text-align: center;

}

#navbar div {

    width: 35px;
    height: 2px;
    background-color: black;
    margin: 8px 0;
}

.hero-text {
    padding-top: 23%;
    padding-bottom: 5%;
}

.landing--banner h1 {
    margin-top: 0;
    font-size: 300%;
    color: white;
    text-align: center;
    padding-left: 15%;
    padding-right: 45%;

}

.landing--banner a {
    color: white;
    text-transform: uppercase;
    font-size: 140%;
    text-align: center;
    padding-right: 30%;
    padding-bottom: 5%;
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

.hover:hover {
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
}

.landing--banner p {
    font-size: 320%;
    color: white;
    text-align: center;
    width: 35vw;
    padding-left: 10%;

}

.yellow {
    background-color: #ffe400;
    width: 67%;

}

i {
    border: solid #f4f4f4;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#burger {
    padding-top: 4%;
}

.mousescroll {
    height: 7%;
    color: white;
}

.skyscraper {
    width: 23%;
    position: relative;
    right: 11%;
    bottom: 50px;
    clip: rect(0px, 60px, 200px, 0px);
}

.request {
    position: relative;
    top: 400px;
    left: 113px;
    background-color: #2166af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    z-index: 3;
    opacity: 0.85;
}

.navbar {
    padding-top: 50px;
}

#logo {
    height: 200%;
    background: white;
}

.close {
    position: absolute;
    top: -100px;
    right: 25px;
    font-size: 30px;
}

.introduction {
    height: 100vh;
    background-color: #eeeeff;
    background-size: cover;
    text-align: center;
}

.slick-prev, .slick-next {
    margin-top: 30px;
}

.slick-prev {
    right: -49vw;
}

.slick-next {
    right: -51vw;
}

.intro-filler {
    height: 60vh;
    background-color: #fbe778;
    background-size: cover;
    text-align: center;
}

.bulbs {
    height: 100vh;
    background-image: url('../img/Pirnid.png');
    background-size: cover;
}

.introduction h1 {
    padding-top: 30%;
    padding-bottom: 5%;
    font-weight: bold;
}

.introduction p {
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
}

.team {
    height: 100vh;
    background-image: url('../img/taner.png');
    background-size: cover;
}

.team-info {
    height: 100vh;
    text-align: center;
    padding-left: 35%;
}

.team-info h1 {
    padding-top: 50%;
    font-weight: bold;
}

.team-info p {
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
}

.name-pics {
    width: 20%;
}

.person {
    text-align: center;
}

.contact-information {
    height: 100vh;
    background-color: #eeeeff;
    background-size: cover;
    text-align: center;
    padding-right: 22%;

}

.send {
    background-color: #2166af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    z-index: 3;
    opacity: 0.85;
}

.stuff {
    background-size: cover;
    height: 100vh;
}

.form {
    padding-top: 7%;
}

.references {
    height: 100vh;
    overflow: hidden;
}

.project-item {
    height: 50%;
    width: 25%;
    padding: 0;
}

.project-image {
    max-width: 142%;
    object-fit: contain;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.project-info {
    text-transform: uppercase;
    display: none;
    position: absolute;
    top: 65%;
    color: #b9b9b9;
    border: 2px solid rgba(0, 140, 186, 0.8);
    background-color: rgba(0, 140, 186, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    padding: 11px 18px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.project-heading {
    display: none;
    position: absolute;
    top: 15%;
    color: #ffffff;
    text-align: center;
}

.project-info:hover {
    color: #ffffff;
    background-color: rgba(0, 140, 186, 1);
}

.project-item:hover .project-info {
    display: inline-block;
}

.project-item:hover .project-heading {
    display: inline-block;
}

.project-item:hover .project-image {
    -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);

}

.projectView {
    position: fixed;
    height: 80vh;
    width: 80vw;
    background: #2d51ff;
    z-index: 9999;
    display: inline-block;
    top: 10vh;
    right: 20vh;
}

.closeProject {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    z-index: 2;
}

.project-pictures {
    height: 100vh;
}

.project-information {
    height: 80vh;
    background-color: #eef;
    text-align: center;
}

.project-information h1 {
    text-transform: uppercase;
}

.project-request {
    top: 0;
    left: 0;
    background-color: #f9d616;
}

.projectOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(59, 59, 59, 0.8);
    right: 0px;
    z-index: 9998;
    display: inline-block;
    top: 0;
}

.project-pictures button {
    font-size: 40px;
    margin-bottom: 115%;
    background-color: rgba(231, 231, 231, 0);
    border-color: rgba(204, 204, 204, 0);
}

.project-pictures button:hover {
    background-color: rgba(231, 231, 231, 0);
    border-color: rgba(204, 204, 204, 0);
}

.project-pictures button:focus {
    background-color: rgba(231, 231, 231, 0);
    border-color: rgba(204, 204, 204, 0);
    outline: none;
}

.project-pictures button:active {
    background-color: rgba(231, 231, 231, 0);
    border-color: rgba(204, 204, 204, 0);
}

.partners {
    height: 100vh;
    background-color: #008cba;

}

.partners img {
    margin: auto;
    width: 320px;
}

.partners h1 {
    text-align: center;
    background-color: #ffe400;
}

.slickClass {
    padding-top: 45vh;
}

.partner-help {
    padding-top: 20vh;
    padding-bottom: 23vh;
}

.map {
    padding: 0px;
}

.gMap {
    padding-top: 95px;
}

.map-name {
    padding-top: 20px;
}

.contacts {
    padding-top: 25px;
}

.contact-form {
    width: 91%;
    margin-left: 2%;
    float: left;
    padding-top: 65px;
}

.contact-form input,
.contact-form textarea {
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}

.contact-form input::placeholder,
.container .contact-form textarea::placeholder {
    color: #434343;
}

.contact-form .btn-send {
    background: #ffe400;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}

.intro-back {
    opacity: 0.9;
    position: absolute;
    margin-top: 125px;
    background: #fbe778;
    height: 60vh;
    overflow: hidden;
}

.intro-text {
    padding-right: 80px;
}

.intro-pics {
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

.intro-pics:hover {
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);

}

.moodik {
    padding-top: 59px;
    width: 76px;
}

.kilp {
    padding-top: 52px;
}

.animate-switch-container {
    position: relative;
    background: white;
    border: 1px solid black;
    height: 40px;
    overflow: hidden;
}

.animate-switch {
    padding: 10px;
}

.animate-switch.ng-animate {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top: -50px;
}

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top: 0;
}

.inspect {
    margin-bottom: -160px;
}

#slides_control > div {
    height: 50vh;
}

.slick-item img {
    opacity: 0.6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.slick-item img:hover {
    width: 80%;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.accordian {
    position: absolute;
    z-index: 4;
    width: 560px;
    height: 358px;
    overflow: hidden;

    /*Time for some styling*/
    margin: 70px auto 81px 20px;
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
    width: 2000px;
    /*This will give ample space to the last item to move
    instead of falling down/flickering during hovers.*/
}

.accordian li {
    position: relative;
    display: block;
    width: 30px;
    float: left;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to
    see the basic accordion*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
    width: 40px;
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
    width: 640px;
}

.accordian li img {
    display: block;
    width: 540px;

}

.pos-fix {
    margin-top: -135px;
}

.dude {
    position: absolute;
    right: 66vh;
    margin-top: 100px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}

.stuff:hover ~ .dude {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.dude-text {
    position: absolute;
    right: 84vh;
    margin-top: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.first {
    display: none;
}

.second {
    display: none;
}


.stuff:hover ~ .second {
    display: inline-block;
}


#contact:hover ~ .first {
    display: inline-block;
}

.dude:hover ~ .first {
    display: inline-block;
}
/*Responsive view*/


