@font-face {
    font-family: 'Hel-Light';
    src: url('../fonts/Helvetica-Neue-Light.otf');
}

@font-face {
    font-family: 'Hel-Bold';
    src: url('../fonts/Helvetica-Neue-Bold.otf');
}

body {
    font-family: Hel-Light;
}

h3 {
    font-family: Hel-Bold;
}

.landing {
    overflow: hidden;
    height: 100vh;
}

.gradient--banner {
    width: 100%;
    height: 350px;
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.53) 50%, rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0.15) 86%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.53) 50%, rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0.15) 86%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.53) 50%, rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0.15) 86%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    z-index: 1;
    margin-top: -350px;
}

.navbar {
    background: transparent;
}

.sidebar-nav {
    position: absolute;
    right: 0px;
    top: 20vh;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 15px;

}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    color: #ffffff;
    padding-top: 17px;
    text-transform: uppercase;

}

.sidebar-nav li a {
    color: #ffffff;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 0px;
    background-color: #ffffff;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:nth-child(1):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(3):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(4):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(5):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #ffe400;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ffe400;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

.sidebar-nav > .sidebar-brand img {
    height: 32px;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    box-shadow: none;
}

.sideMenu {
    position: fixed;
    height: 100vh;
    width: 16vw;
    background: #2d51ff;
    right: 0px;
    z-index: 9999;
    display: inline-block;
    top: 0;
}

.sideMenuOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(59, 59, 59, 0.45);
    right: 0px;
    z-index: 9998;
    display: inline-block;
    top: 0;
}

.mingiAsi {
    height: 100vh;
    width: 16vw;
}

.landing--banner {
    height: 100vh;
    width: 60vw;
    background-color: #2166af;
    background-size: cover;
    z-index: 0;
    text-align: center;

}

#navbar div {

    width: 35px;
    height: 2px;
    background-color: black;
    margin: 8px 0;
}

.hero-text {
    padding-top: 23%;
    padding-bottom: 5%;
}

.landing--banner h1 {
    margin-top: 0;
    font-size: 300%;
    color: white;
    text-align: center;
    padding-left: 15%;
    padding-right: 45%;

}

.landing--banner a {
    color: white;
    text-transform: uppercase;
    font-size: 140%;
    text-align: center;
    padding-right: 30%;
    padding-bottom: 5%;

}

.landing--banner p {
    font-size: 320%;
    color: white;
    text-align: center;
    width: 35vw;
    padding-left: 10%;

}

.yellow {
    background-color: #ffe400;
    width: 67%;

}

i {
    border: solid #f4f4f4;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#burger {
    padding-top: 4%;
}

.mousescroll {
    height: 7%;
    color: white;
}

.skyscraper {
    width: 23%;
    position: relative;
    right: 11%;
    bottom: 50px;
    clip: rect(0px, 60px, 200px, 0px);
}

.request {
    position: relative;
    top: 400px;
    left: 113px;
    background-color: #2166af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    z-index: 3;
    opacity: 0.85;
}

.navbar {
    padding-top: 50px;
}

#logo {
    height: 200%;
    background: white;
}

.close {
    position: absolute;
    top: -100px;
    right: 25px;
    font-size: 30px;
}

.introduction {
    height: 100vh;
    background-color: #eeeeff;
    background-size: cover;
    text-align: center;
}

.intro-filler {
    height: 60vh;
    background-color: #fbe778;
    background-size: cover;
    text-align: center;
}

.bulbs {
    height: 100vh;
    background-image: url('../img/Pirnid.png');
    background-size: cover;
}

.introduction h1 {
    padding-top: 30%;
    padding-bottom: 5%;
    font-weight: bold;
}

.introduction p {
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
}

.team {
    height: 100vh;
    background-image: url('../img/taner.png');
    background-size: cover;
}

.team-info {
    height: 100vh;
    text-align: center;
    padding-left: 35%;
}

.team-info h1 {
    padding-top: 50%;
    font-weight: bold;
}

.team-info p {
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
}

.name-pics {
    width: 20%;
}

.person {
    text-align: center;
}

.contact-information {
    height: 100vh;
    background-color: #eeeeff;
    background-size: cover;
    text-align: center;
    padding-right: 22%;

}

.send {
    background-color: #2166af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    z-index: 3;
    opacity: 0.85;
}

.stuff {
    background-size: cover;
    height: 100vh;
}

.form {
    padding-top: 7%;
}

.partners {
    height: 100vh;

}

.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 90%;
}

.onebyone-carosel .active.left {
    left: -33.33%;
}

.onebyone-carosel .active.right {
    left: 33.33%;
}

.onebyone-carosel .next {
    left: 33.33%;
}

.onebyone-carosel .prev {
    left: -33.33%;
}

.map {
    padding: 0px;
}

.map-name {
    padding-top: 20px;
}

.contacts {
    padding-top: 25px;
}

.contact-form {
    width: 91%;
    margin-left: 2%;
    float: left;
    padding-top: 65px;
}

.contact-form input,
.contact-form textarea {
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}

.contact-form input::placeholder,
.container .contact-form textarea::placeholder {
    color: #434343;
}

.contact-form .btn-send {
    background: #ffe400;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}

.intro-back {
    opacity:0.9;
    position: absolute;
    margin-top: 125px;
    background: #fbe778;
    height: 60vh;
    overflow: hidden;
}

.intro-text {
    padding-right: 80px;
}

.intro-pics {
    padding-top: 40px;
    padding-bottom: 20px;
}

.moodik {
    padding-top: 59px;
    width: 76px;
}

.kilp {
    padding-top: 52px;
}

.animate-switch-container {
    position: relative;
    background: white;
    border: 1px solid black;
    height: 40px;
    overflow: hidden;
}

.animate-switch {
    padding: 10px;
}

.animate-switch.ng-animate {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top: -50px;
}

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top: 0;
}

.inspect {
    margin-bottom: -160px;
}